h1 {
    font-family: Roboto, sans-serif;
    color: #03045E;
    text-align: center;
    font-weight: 800;
    width: 20em;
    padding: 0,5em;
    margin-right: auto;
    margin-left: auto;
        border-radius: 1em;
  }
  
h1, .Topic, #Indice {
    background-color: rgb(0, 182, 182);
    display: block;
  }
  
body {
    background-color: #6cc8d8;
  }
  
#Guilherme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 60px ;
  }
  
.Topic, #Indice {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    color: #023E8A;
    width: 30em;
    padding: 0,5em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1em;
  }
  
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #013b5a;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }
  
.Habilities {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-left: 0%;
    color: #013b5a;
    line-height: 30px;
    font-weight: 800;
  }
  
.size-list, .links {
    font-size: 18px;
  }
  
.links {
    text-decoration: solid;
  }
  
strong {
    color: #020237;
    background-color: #48CAE4;
  }
  
a:hover {
    color: #020237;
  }
  
.social:hover {
    color: #023E8A;
  }
  
#link-indice, .social {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 0%;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
  }
  
a {
    color: rgb(13, 80, 77);
  }
  
.social {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #020237;
    color: #48CAE4;
    text-decoration: none;
    display: block;
    height: 24px;
    width: 15em;
    margin-right: auto;
    margin-left: auto;
  }
  